:root {
    --primary-color: #1a191d;
    --secondary-color: #65d9ed;
    --text-light-color: #ffffff;
    --footer-bg-color: #343a40;
}
body, html {
    height: 100%;
    margin: 0;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.vh-100 {
    height: 100vh !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

header {
    height: 5vh;
}

main {
    height: 90vh;
    overflow-y: auto;
}

footer {
    height: 5vh;
}

.navbar-custom {
    background-color: var(--primary-color);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: var(--text-light-color);
}

.footer-custom {
    background-color: var(--primary-color);
    color: var(--text-light-color);
}

.message.sent {
    background-color: #d1e7dd;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message.received {
    background-color: #f8d7da;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
